@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* ----- Imports ------ */
@import url('form.css');
@import url('data.css');
@import url('footer.css');

@font-face {
  font-family: 'madetommy';
  src: url('../fonts/webfonts/made_tommy_bold-webfont.woff2') format('woff2'),
    url('../fonts/webfonts/made_tommy_bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'madetommysoft-regular';
  src: url('../fonts/webfonts/madesoft-webfont.woff2') format('woff2'),
    url('../fonts/webfonts/madesoft-webfont.woff') format('woff');
}


/* Main html - 10px
Body text = 1.6rem
h1 = 4.8rem
h2 = 3.6rem
h3 = 2.8rem
h4 = 1.8rem
manja slova od body = 1.2rem */

/* variables */
:root {
  --primary: #ffffff;
  --secondary: #000000;
  --terciary: #AAAAAA;
}


/* reset */

* {
  margin: 0;
  padding: 0;
}


/* base styles */

html {
  font-size: 10px;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  overflow: hidden;
}


/* fonts  */


h1 {
  padding-left: 2rem;
  font-size: 13rem;
  font-weight: 100;
  font-family: 'madetommysoft-regular', Fallback, sans-serif;

  background: linear-gradient(189deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0.25) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 3.2rem;
  font-family: 'madetommy', Fallback, sans-serif;
}

h3 {
  font-size: 1.8rem;
  font-family: 'madetommy', Fallback, sans-serif;
}

h4 {
  font-size: 2rem;
  font-weight: 300;
  font-family: 'madetommysoft-regular', Fallback, sans-serif;
  color: var(--primary);
}

p {
  font-size: 1.6rem;
  color: var(--primary);
}

.secondary {
  font-size: 1rem;
  color: var(--primary);
}




/* mobile styles */
.container {
  height: 100%;
}


.bg-view {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: url(../images/day.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.icon {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem 2rem;
  align-items: flex-end;
}

.bar1 {
  width: 2.6rem;
  margin: .5rem 0;
  height: .35rem;
  background-color: white;
  border-radius: .5rem;
}

.bar2 {
  width: 3rem;
  height: .4rem;
  background-color: white;
  border-radius: .5rem;
}

.input-container {
  display: flex;
  justify-content: center;
  height: 4rem;
  width: 100%;
}

.input-field {
  position: relative;
}

.search-btn {
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--secondary);
  border-radius: 2rem;
  padding: 1rem 1.7rem;
}

.search-icon {
  width: 14px;
}

.city {
  outline: none;
  border: none;
  color: var(--secondary);
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.city::placeholder {
  color: var(--terciary);
  font-size: 1.4rem;
}

.data {
  display: flex;
  padding: 1rem 2rem;
}

.city-name {
  margin-top: .2rem;
}

.pin {
  fill: var(--primary);
}

.weather-data {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.left {
  grid-row: 1;
}

.date {
  padding: 0rem 2rem;
  font-size: medium;
}

.forecast-drawer {
  position: absolute;
  left: 0;
  top: 75%;
  height: 25%;
  width: 100%;
  border-radius: 3rem 3rem 0 0;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.34) 0%, rgba(255, 255, 255, 0.11) 100%);
  backdrop-filter: blur(30px);
}

.bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.bar-icon {
  width: 4rem;
  height: .5rem;
  border-radius: 1.5rem;
  background-color: var(--terciary);
}

.forecast-data {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.margin-buttom {
  margin-bottom: 1rem;
}

.card {
  text-align: center;
}











/* small tablet styles */
@media screen and (min-width: 620px) {}

/* large tablets and laptops */

@media screen and (min-width: 960px) {}

/* desktop styles */

@media screen and (min-width: 1200px) {}